<div id = "reading">
  <tbody>
        <td><%= @reading.temperature %></td>
        <td><%= link_to 'Show', @reading %></td>
        <td><%= link_to 'Edit', edit_reading_path(@reading) %></td>
        <td><%= link_to 'Destroy', @reading, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
  </table>
</div>
