<p><%= @user.name %>,</p>

<p>Thank you for creating a new thermometer!</p> <br>

<p> The maximum value you entered for your temperature is <%=@user.max_temp%> </p>






<p><%= link_to "Edit profile", edit_user_url(@user) %></p>